extends ../layout
block content

    h1 Insertar nuevos videos de partido
    form.video(method="post", action="#{action}", enctype="multipart/form-data")
        -if(put)
            input(type="hidden", name="_method", value="PUT")
        table(class="table")
            thead
                tr
                    th(scope="col") #
                    th(scope="col") Elegir Archivo
                    th(scope="col") Aviso
            tbody
                tr
                    th(scope="row")
                        label(for="exampleFormControlFile1") Archivo Video Frontal
                    td
                        input(type='file', name='video_frontal', accept='video/mp4', id='fileinputvideoF', correct='not')
                    td
                        span(class="input-group-text" id="sNombreVideoFrontal_UP")
                tr
                    th(scope="row")
                        label(for="exampleFormControlFile1") Archivo Video Lateral
                    td
                        input(type='file', name='video_lateral', accept='video/mp4', id='fileinputvideoL', correct='not')
                    td
                        span(class="input-group-text" id="sNombreVideoLateral_UP")
                tr
                    td
                        label(for="exampleFormControlFile1") Fecha del encuentro
                    td
                        input(type="date" name="date_match" required="required")
                tr
                    th(scope="row")
                        input(type="hidden", name="idchampionship", required="required", value="#{championship._id}")
                        br
                        input(type="hidden", name="idmatch", required="required", value="#{match}")
                        input(id="UploadVideo" idCh="#{championship._id}" match="#{match}" type="submit", value="Almacenar")
                    td
                        span(class="input-group-text" id="AlmacenarNuevoVideo")
    a(href="/api/showchampionship/#{championship._id}")  Cancelar
