extends ../layout
block content-team

  h2 TAGS
  p
    div.form-inline(id='form-name')
      ul.list-inline
        li
          div.form-group
            label(for="InputNameTag tagname") Name Tag
            input.form-control(type="text", name="name", placeholder="tag name", id='InputNameTag', required='')
        li
          div.form-group
            ul.list-inline.error_cut
              li
                p MAYUS + 
              li
                select.form-control(name="shortcut", id="shortcuttag")
                  -each item in caracteres
                    option(value= "#{item}") #{item}
        li
          div.form-group
            select.form-control(name="tagtype", id="tagtype")
              -each item in typesTags
                option(value= "#{item}") #{item} 
        li  
          button.btn.btn-default(type="submit", id='botonaddtag') Add tag
      div.form-group
        textarea(name="tagdescription", placeholder="tag description", required='', id='InputDescrTag')
  -if(tags.length >= 0)
    table.table.table-condensed.list-video(id='table-tags')
      thead(id="TagTitle")
        tr
          td Name
          td Shortcut
          td Type
          td Description
      tbody
        -each item in tags
          tr(id='row_tag-#{item._id}')
            td(id='name_tag-#{item._id}') #{item.name}
            
            td(id='name_tag-#{item._id}') #{item.shortcut}

            td(id='name_tag-#{item._id}') #{item.typeTag}
            
            td(id='name_tag-#{item._id}') #{item.description}
            
            td 
              a(href="javascript:void(0);", class='btn btn-info showtag', id='btn-show', idmongo='#{item._id}') Show
            td 
              a(href="javascript:void(0);", class='btn btn-info updatetag', id='btn-update', idmongo='#{item._id}') Edit
            td 
              a(href="javascript:void(0);", class='btn btn-info deletetag', id='btn-delete', idmongo='#{item._id}') Delete
  -else
    p No existen tags creados

  p 
    a(href="/") Return
